* {
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
    justify-content: center;
}

.btn {
    font-size: 18px;
}

.header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gridBox {
    background-color: #b141f8;
}

.red {
    background-color: #ff0000;
} 

.orange {
    background-color: #ffa500;
} 

.yellow {
    background-color: #ffff00;
} 

.green {
    background-color: #008000;
} 

.blue {
    background-color: #0000ff;
} 

.indigo {
    background-color: #4b0082;
} 

.violet {
    background-color: #ee82ee;
} 