* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 1px;
    justify-content: center;
    border: #4b0082 solid;
}

.btn {
    font-size: 18px;
}

.header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.red {
    background-color: #ff0000;
} 

.orange {
    background-color: #ffa500;
} 

.yellow {
    background-color: #ffff00;
} 

.green {
    background-color: #008000;
} 

.blue {
    background-color: #0000ff;
} 

.indigo {
    background-color: #4b0082;
} 

.violet {
    background-color: #ee82ee;
} 